<div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-7 phone-preview">
                    <div class="iphone-mockup"><img src="assets/img/iphone.svg" class="device"></div>
                </div>
                <div class="col-md-6 col-md-pull-3 get-it">
                    <h1>Our Fantastic App</h1>
                    <p>The ToDo list that already knows how to complete those complex social and personal chores facing everyday people.</p>
                    <p><a class="btn btn-primary btn-lg" role="button" href="#"><i class="fa fa-apple"></i> Available on the App Store</a><a class="btn btn-success btn-lg" role="button" href="#"><i class="fa fa-google"></i> Available on Google Play</a></p>
                </div>
            </div>
        </div>
    </div>
    <section class="testimonials">
        <h2 class="text-center">People Love It!</h2>
        <blockquote>
            <p>Damn, I wish I had this list last year when I bought my house</p>
            <footer>Future Self</footer>
        </blockquote>
    </section>
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Easy to Use. Incredible time-saver!</h2>
                    <p>Download peer-reviewd checklists that thoroughly layout the step by step approach to performing common yet complicated personal tasks such as buying a house or enrolling in college.</p>
                </div>
                <div class="col-md-6">
                    <div class="row icon-features">
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-list"></i>
                            <p>Edit Checklist with your notes</p>
                        </div>
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-folder-open"></i>
                            <p>Save and Archive imporrtant documents</p>
                        </div>
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-calendar"></i>
                            <p>See a forcast of deadlines in calandar and gnatt chart form</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
