.jumbotron.hero
  .container
    .row
      .col-md-4.col-md-push-7.phone-preview
        %img.device{:src => "assets/img/list.png"}/
      .col-md-6.col-md-pull-3.get-it
        %h1 Our Fantastic App
        %p The ToDo list that already knows how to complete those complex social and personal chores facing everyday people.
        %p
          %a.btn.btn-primary.btn-lg{:href => "https://itunes.apple.com/us/app/apple-store/id375380948?mt=8", :role => "button"}
            %i.fa.fa-apple
            Available on the App Store
          %a.btn.btn-success.btn-lg{:href => "https://play.google.com/store?hl=en", :role => "button"}
            %i.fa.fa-google
            Available on Google Play
%section.testimonials
  %h2.text-center People Love It!
  %blockquote
    %p Damn, I wish I had this list last year when I bought my house
    %footer Future Self
%section.features
  .container
    .row
      .col-md-6
        %h2 Easy to Use. Incredible time-saver!
        %p Download peer-reviewd checklists that thoroughly layout the step by step approach to performing common yet complicated personal tasks such as buying a house or enrolling in college.
      .col-md-6
        .row.icon-features
          .col-xs-4.icon-feature
            %i.glyphicon.glyphicon-list
            %p Edit Checklist with your notes
          .col-xs-4.icon-feature
            %i.glyphicon.glyphicon-folder-open
            %p Save and Archive imporrtant documents
          .col-xs-4.icon-feature
            %i.glyphicon.glyphicon-calendar
            %p See a forcast of deadlines in calandar and gnatt chart form
